ACCESS_ID=fjflsdfjsdlkfjslkje
ACCESS_SECRET=4u32rufjflsajru43ri3wpri1
API_ENDPOINT=https://openapi.exmple.com

# Tuya Device ID
DEVICE_ID_ONLINE_8IN1_TESTER=dfjdlgjdslfjeslreofoguero

# InfluxDB 설정
INFLUXDB_URL=http://localireo.com:8086
INFLUXDB_TOKEN=8sfdfjsdfjwerueoiawruweoirueouawwr3908rr3dfjsdlrj3ur0w==
INFLUXDB_ORG=home
INFLUXDB_BUCKET=name_number